
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */



/* main */

.banner {
  background: url(./images/banner.jpeg) no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
}

#contact {
  background: url(./images/banner.jpeg) center ;
}